li > a.validation_errors::after,
li > a.validation_errors:hover::after,
li > a.validation_errors:focus::after {
    color: $danger;
    content: "\F028";
    font-family: "Material Design Icons"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: inline-flex;
}
